body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  background-image: url('./sw-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadein {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
